@model SportConnect.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStyles {
    <style>
        @@media (max-width: 860px)
        {
            p{
                font-size: 17px !important;
            }

            h1{
                font-size: 40px !important;
            }

            input{
                font-size: 16px !important; 
            }

            #content {
                padding-left: 60px !important;
            }
        }

        @@media (max-width: 415px)
        {
            #content {
                padding-right: 60px !important;
            }

            #btns{
                display: flex;
                flex-direction: column; 
            }

            #delete{
                margin-top: 20px;
                width: 180px !important;
            }
        }
    </style>
}

<div id="content" style="padding-left: 80px; padding-top: 100px">
    <div>
        <h1 style="font-size: 45px">Perfil</h1>
        <div style="margin-top: 30px">
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.Nome):  @Html.DisplayFor(model => model.Nome)</p>
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.Cpf):  @Html.DisplayFor(model => model.Cpf)</p>
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.Email):  @Html.DisplayFor(model => model.Email)</p>
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.DataDeNascimento):  @Html.DisplayFor(model => model.DataDeNascimento)</p>
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.Estado):  @Html.DisplayFor(model => model.Estado)</p>
            <p style="font-size: 18px">@Html.DisplayNameFor(model => model.Cidade):  @Html.DisplayFor(model => model.Cidade)</p>
        </div>

        <div id="btns" style="display: flex; margin-top: 50px">
            <a style="margin-right: 15px" asp-action="Editar" asp-route-id="@Model?.Id">
                <input type="submit" value="Editar" class="btn btn-primary" style="border-radius: 10px; font-size: 16px; font-weight: 600; padding: 8px 30px 8px 30px" />
            </a>

            <input type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" id="delete" type="submit" value="Excluir Conta" class="btn btn-danger" style="border-radius: 10px; font-size: 16px; font-weight: 600; padding: 8px 30px 8px 30px" />
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir sua conta? Esta ação é irreversível!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                        <a asp-action="Excluir" asp-route-id="@Model?.Id">
                            <button type="button" class="btn btn-danger">Excluir Conta</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
