@model SportConnect.Models.Evento

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Evento</h1>
<h3>Deseja excluir este evento?</h3>

<div style="display: flex; justify-content: center">
    <div class="col-lg-6 col-md-8">
        <div class="card h-100 shadow-sm">
            <div class="card-body">

                <p class="mb-1"><strong>Nome:</strong> @Model.Nome</p>
                <p class="mb-1"><strong>Descrição:</strong> @Model.Descricao</p>
                <p class="mb-1"><strong>Bairro:</strong> @Model.Bairro</p>
                <p class="mb-1"><strong>Rua:</strong> @Model.Rua</p>
                <p class="mb-1"><strong>Número:</strong> @Model.Numero</p>

            </div>

            <div class="card-footer bg-white border-0 d-flex justify-content-center gap-3">
                <form asp-action="Delete" class="mb-0 d-inline">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger btn-custom">Excluir Evento</button>
                </form>

                <a href="@Url.Action("Index", "Eventos", new { grupoId = @Model.GrupoId })"
                   class="btn btn-primary btn-custom">Cancelar</a>
            </div>

            <style>
                .btn-custom {
                    border-radius: 12px;
                    width: 130px;
                    padding: 4px 0;
                    font-size: 0.9rem;
                    font-weight: 500;
                }

                .card {
                    border-radius: 12px;
                    overflow: hidden;
                }

                    .card p {
                        margin-bottom: 4px;
                    }

                h1 {
                    font-size: 28px;
                    margin-bottom: 20px;
                    margin-top: 30px;
                    text-align: center;
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 20px;
                    text-align: center;
                }
            </style>
        </div>
    </div>
</div>
