@model CriarGrupo.Models.Grupo

@{
    ViewData["Title"] = "Details";

    var uid = ViewBag.CurrentUserId as int?;

    var criadorId = Model.UsuarioId;

    var podeGerenciar = uid.HasValue && uid.Value == criadorId;
}

<h1>Informações do Grupo</h1>

<div id="content">
    <div class="col-lg-4 col-md-8">
        <div id="card" class="card h-100 shadow-sm">
            <div class="card-body">
                <p><strong>Nome:</strong> @Model.Nome</p>

                <p class="mb-1"><strong>Descrição:</strong> @Model.Descricao</p>
                <p class="mb-1"><strong>Máximo de Participantes:</strong> @Model.NumeroMaximoParticipantes</p>
                <p class="mb-1"><strong>Tem lista de espera?:</strong> @(Model.ListaEspera ? "Sim" : "Não")</p>

                <p class="mb-1"><strong>Modalidade:</strong> @Model.Modalidade</p>
                <p class="mb-1"><strong>Estado:</strong> @Model.Estado</p>
                <p class="mb-0"><strong>Cidade:</strong> @Model.Cidade</p>
            </div>

            <div class="card-footer bg-white border-0 d-flex justify-content-center gap-3">
                <a asp-action="Index" class="btn btn-danger btn-custom">Voltar</a>
            @if (podeGerenciar)
            {
                <a asp-action="GerenciarParticipantes" asp-route-id="@Model.Id" class="btn btn-primary btn-custom">Participantes</a>
            } 
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        font-size: 30px;
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    .card {
        border-radius: 12px;
        overflow: hidden;
        margin-left: 50px; 
    }

        .card p {
            margin-bottom: 4px;
        }

    .btn-custom {
        border-radius: 12px;
        width: 130px; 
        padding: 4px 0;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .gap-3 > * {
        margin-right: .75rem;
    }

    @@media (max-width: 768px){
        #card{
            margin: 0px !important;
        }

        #content{
            padding: 0px 50px 0px 50px;
        }
    }

    @@media (max-width: 370px) {
        #content {
            padding: 0px 30px 0px 30px;
        }
    }
</style>
