@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportConnect.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    @RenderSection("HeadStyles", required: false)
    <style>
        html {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .dropdown-item:hover {
            background-color: #2081F9 !important;
        }

        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            box-shadow: none;
        }

        .navbar-toggler-icon {
            height: 30px;
            width: 30px;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }

        .btn-close {
            opacity: 1 !important;
        }

        .offcanvas{
            border: none;
        }

        @@media (max-width: 830px) {
            .nav-item {
                font-size: 14px;
            }
        }

        @@media (max-width: 767px) {
            .nav-item {
                font-size: 17px;
            }

            .offcanvas {
                padding: 17px 15px 0px 15px;
            }

            #sideBarNav {
                display: block !important;
            }

            #navBar {
                display: none !important;
            }

            .btnNav{
                font-size: 16px !important;
                border: none !important;
                background-color: transparent;
                color: white;
                margin: 0px !important;
                padding: 0.375rem 0px 0.375rem 0px;
            }

            .btnNav:hover {
                background-color: transparent !important;
                color: white;
            }
        }

        @@media (max-width: 600px) {
            .navbar {
                padding: 0px 20px 0px 20px !important;
            }

            #logo {
                height: 50px !important;
                width: 60px;
            }
        }
    </style>
</head>
<body class="m-0">
    <header>
        <nav style="background-color: #09264A; height: 100px; padding: 0px 30px 0px 30px; border: none !important" class="navbar navbar-expand-md navbar-toggleable-md navbar-light border-bottom box-shadow">
            <div style="height: 100%; display: flex; justify-content: space-between; width: 100%;">
                <div style="display: flex; align-items: center;">
                    @{
                        var controller = ViewContext.RouteData.Values["controller"] as string;
                        var action = ViewContext.RouteData.Values["action"] as string;
                    }

                    <a asp-area="" asp-controller="@(User.Identity.IsAuthenticated && ((controller == "Usuarios" && (action == "Editar" || action == "Excluir" || action == "Detalhes")) || (controller != "Usuarios" && controller != "Home")) ? "Grupos" : "Home")" asp-action="Index">
                        <img id="logo" style="height: 60px; margin-right: 10px" src="~/images/logo.png" />
                    </a>
                    <a style="font-weight: normal; color: white; padding: 8px 0px 8px 0px !important; margin: 0px !important" class="navbar-brand" asp-area="" asp-controller="@(User.Identity.IsAuthenticated && ((controller == "Usuarios" && (action == "Editar" || action == "Excluir" || action == "Detalhes")) || (controller != "Usuarios" && controller != "Home")) ? "Grupos" : "Home")" asp-action="Index">SportConnect</a>
                </div>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span style="color: white" class="navbar-toggler-icon"></span>
                </button>
                <div style="display: flex; justify-content: center; background-color: #09264A" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="text-white offcanvas-title" id="offcanvasNavbarLabel">SportConnect</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            @if ((controller == "Grupos" && (action == "Index" || action == "Filtro") && !User.Identity.IsAuthenticated) || controller == "Home" || (controller == "Usuarios" && (action == "Login" || action == "Cadastrar" || action == "AlterarSenha" || action == "ConfirmarSenha" || action == "Sucesso")))
                            {
                                <li class="nav-item">
                                    <a style="margin: 0px 10px 0px 5px;" class="btnNav btn btn-outline-light" asp-controller="Grupos" asp-action="Index" role="button">
                                        <i class="fas fa-search me-1"></i>Ver Grupos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a style="margin: 0px 10px 0px 0px;" class="btnNav btn btn-outline-light" asp-controller="Usuarios" asp-action="Login" role="button">
                                        <i class="fas fa-sign-in-alt me-2"></i>Entrar
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="btnNav btn btn-light" asp-controller="Usuarios" asp-action="Cadastrar" role="button">
                                        <i class="fas fa-user-plus me-2"></i>Registrar
                                    </a>
                                </li>
                            }

                            @if (User.Identity.IsAuthenticated && ((controller == "Usuarios" && (action == "Editar" || action == "Excluir" || action == "Detalhes")) || (controller != "Usuarios" && controller != "Home")))
                            {
                                <div id="navBar" style="display: flex;">
                                <li class="position-relative nav-item" style="display: flex; align-items: center; margin-right: 20px">
                                    <i style="color: white; font-size: 24px" class="fa-solid fa-bell"></i>

                                    @if (ViewData["NotificacoesCount"] != null && ViewData["NotificacoesCount"].ToString() != "0")
                                    {
                                        <p style="display: flex; align-items: center; justify-content: center; padding: 3px; top: 8px; left: 10px; position: absolute; color: white; background-color: #FFC107; border-radius: 50%; width: 18px; height: 18px; text-align: center; font-size: 13px !important;">@ViewData["NotificacoesCount"]</p>
                                    }

                                    <a class="nav-link text-white" asp-area="" asp-controller="Notificacoes" asp-action="Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Notificações</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a style="text-decoration: none; display: flex; align-items: center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img style="height: 50px;" src="~/images/usuario-foto.png" />

                                            <p style="margin: 0px" class="nav-link text-white">@User.Identity.Name</p>

                                            <ul style="padding: 0px !important; min-width: 0px; width: 122px !important; background: #09264A; border: solid 1px white" class="dropdown-menu">
                                                <li style="border-bottom: solid 1px white"><a asp-controller="Usuarios" asp-action="Detalhes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" style="padding: 8px 0px 8px 0px" class="dropdown-item text-white text-center">Perfil</a></li>
                                                <li><a style="padding: 8px 0px 8px 0px" asp-area="" asp-controller="Usuarios" asp-action="Logout" class="text-center dropdown-item text-white">Sair</a></li>
                                            </ul>
                                        </a>
                                    </div>
                                </li>
                        </div>

                        <div id="sideBarNav" style="display: none">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Usuarios" asp-action="Detalhes" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Notificacoes" asp-action="Index" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier).Value" class="nav-link text-white">Notificações</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Usuarios" asp-action="Logout" class="nav-link text-white">Sair</a>
                            </li>
                        </div>
                    }
                    </ul>
                </div>
            </div>
            </div>
        </nav>
    </header>
    <div style="height: 100%">
        <main role="main" class="h-100">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/513aa25e9d.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)




</body>
</html>
